{% extends "t_admin/base.html" %}

{% block konten%}
    
    <!-- Begin Page Content -->
    <div class="container-fluid">
    
                   
    
                        <!-- Content Row -->
                    
                        <div class="row">
    
                            <!-- Data Kategori -->
                            <div class="col-xl-6 col-lg-5">
                                <div class="card shadow mb-4">
                                    <!-- Card Header - Dropdown -->
                                    <div
                                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                        <h6 class="m-0 font-weight-bold text-primary">Detail Data akreditas </h6>
                                       
                                    </div>
                                    <!-- Card Body -->
                                </div>
                            </div>
    
                            <!-- Input Kategori -->
                            <div class="col-xl-8 col-lg-7">
                                <div class="card shadow mb-4">
                                    <!-- Card Header - Dropdown -->
                                    <div
                                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                        <h6 class="m-0 font-weight-bold text-primary">Detail Data akreditas </h6>
                                        
                                    </div>
                                    <!-- Card Body -->
                                    <div class="card-body">
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table>
                                                    <table class="table table-hover">
                                                        <tr>
                                                            <th>Jenis akreditas:</th><td>{{dataakreditas.jenis_akreditas}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Informasi akreditas:</th><td>{{dataakreditas.informasi_akreditas}}</td>
                                                        </tr>
                                                       
                                                    </table>
                                                  </div>
                                                  <a class="btn btn-warning" href="{{url_for('gadmin.akreditas')}}">Kembali</a>
                                                </table>
                                               
                                    </div>
                                </div>
                            </div>
                        </div>
    
    </div></div>      
    
    </div>
                    <!-- /.container-fluid -->
{% endblock%}
    