{% extends "t_admin/base.html" %}

{% block konten%}
    
    <!-- Begin Page Content -->
    <div class="container-fluid">
    
                   
    
                        <!-- Content Row -->
                    
                        <div class="row">
    
                            <!-- Data Kategori -->
                            <div class="col-xl-6 col-lg-5">
                                <div class="card shadow mb-4">
                                    <!-- Card Header - Dropdown -->
                                    <div
                                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                        <h6 class="m-0 font-weight-bold text-primary">Detail Data artikel </h6>
                                       
                                    </div>
                                    <!-- Card Body -->
                                </div>
                            </div>
    
                            <!-- Input Kategori -->
                            <div class="col-xl-8 col-lg-7">
                                <div class="card shadow mb-4">
                                    <!-- Card Header - Dropdown -->
                                    <div
                                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                        <h6 class="m-0 font-weight-bold text-primary">Data artikel </h6>
                                        
                                    </div>
                                    <!-- Card Body -->
                                    <div class="card-body">
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table>
                                                    <table class="table table-hover">
                                                        <tr>
                                                            <th>Jenis Tanggal:</th><td>{{dataartikel.tgl_post}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>judul:</th>
                                                            <td>{{dataartikel.judul}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Link Artikel:</th>
                                                            <td>{{dataartikel.link}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Link Artikel:</th>
                                                            <td>{{dataartikel.desk}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Banner Artikel</th>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <img src="{{url_for('static', filename='foto/' +dataartikel.foto)}}" alt="..." width="300px" height="300px">
                                                               </td>
                                                        </tr>
                                                    </table>
                                                  </div>
                                                  <a class="btn btn-warning" href="{{url_for('gadmin.artikel')}}">Kembali</a>
                                                </table>
                                               
                                    </div>
                                </div>
                            </div>
                        </div>
    
    </div></div>      
    
    </div>
                    <!-- /.container-fluid -->
{% endblock%}
    