{% extends "t_admin/base.html" %}

{% block konten%}
    
    <!-- Begin Page Content -->
    <div class="container-fluid">
    
                        <!-- Page Heading -->
                        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                            <h1 class="h3 mb-0 text-gray-800">Data Umum</h1>
                            <!--bagian bisa dimasukan form seacrh dari masing-masing data-->
                            <p></p>
                        </div>
    
                        <!-- Content Row -->
                    
                        <div class="row">
    
                            <!-- Data Kategori -->
                            <div class="col-xl-4 col-lg-5">
                                <div class="card shadow mb-4">
                                    <!-- Card Header - Dropdown -->
                                    <div
                                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                        <h6 class="m-0 font-weight-bold text-primary">Input data</h6>
                                       
                                    </div>
                                    <!-- Card Body -->
                                    <div class="card-body">
                                        <!--form inputan-->
                                       <form method="POST">
                                        {{form.hidden_tag()}}
                                        <div class="form-group">
                                            {{form.tahun.label(class="form-control-label")}}
                                            {% if form.tahun.errors %}
                                                 {{form.tahun(class="form-control is-invalid")}}
                                        
                                                 <div class="invalid-feedback">
                                                     {%for error in form.tahun.errors %}
                                                     <span>{{error}}</span>
                                                     {% endfor %}
                                                 </div>
                                            {%else%}
                                                {{form.tahun(class="form-control")}}
                                            
                                            {%endif%}
                                        </div>
                                        <div class="form-group">
                                            {{form.jlh_sekolah.label(class="form-control-label")}}
                                            {% if form.jlh_sekolah.errors %}
                                                 {{form.jlh_sekolah(class="form-control is-invalid")}}
                                        
                                                 <div class="invalid-feedback">
                                                     {%for error in form.jlh_sekolah.errors %}
                                                     <span>{{error}}</span>
                                                     {% endfor %}
                                                 </div>
                                            {%else%}
                                                {{form.jlh_sekolah(class="form-control")}}
                                            
                                            {%endif%}
                                        </div>
                                          <div class="form-group">
                                        {{form.jlh_sswasta.label(class="form-control-label")}}
                                        {% if form.jlh_sswasta.errors %}
                                             {{form.jlh_sswasta(class="form-control is-invalid")}}
                                    
                                             <div class="invalid-feedback">
                                                 {%for error in form.jlh_sswasta.errors %}
                                                 <span>{{error}}</span>
                                                 {% endfor %}
                                             </div>
                                        {%else%}
                                            {{form.jlh_sswasta(class="form-control")}}
                                        
                                        {%endif%}
                                    </div>
                                    <div class="form-group"> 
                                        {{form.jlh_snegeri.label(class="form-control-label")}}
                                        {% if form.jlh_snegeri.errors %}
                                            {{form.jlh_snegeri(class="form-control is-invalid")}}
                                
                                        <div class="invalid-feedback">
                                            {% for error in form.jlh_snegeri.errors %}
                                            <span>{{error}}</span>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                            {{form.jlh_snegeri(class="form-control")}}
                                        {% endif %}
                                    </div>
                                    <div class="form-group"> 
                                        {{form.jlh_guru.label(class="form-control-label")}}
                                        {% if form.jlh_guru.errors %}
                                            {{form.jlh_guru(class="form-control is-invalid")}}
                                
                                        <div class="invalid-feedback">
                                            {% for error in form.jlh_guru.errors %}
                                            <span>{{error}}</span>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                            {{form.jlh_guru(class="form-control")}}
                                        {% endif %}
                                    </div>
                                    <div class="form-group"> 
                                        {{form.jlh_gpns.label(class="form-control-label")}}
                                        {% if form.jlh_gpns.errors %}
                                            {{form.jlh_gpns(class="form-control is-invalid")}}
                                
                                        <div class="invalid-feedback">
                                            {% for error in form.jlh_gpns.errors %}
                                            <span>{{error}}</span>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                            {{form.jlh_gpns(class="form-control")}}
                                        {% endif %}
                                    </div>
                                    <div class="form-group"> 
                                        {{form.jlh_ghonor.label(class="form-control-label")}}
                                        {% if form.jlh_ghonor.errors %}
                                            {{form.jlh_ghonor(class="form-control is-invalid")}}
                                
                                        <div class="invalid-feedback">
                                            {% for error in form.jlh_ghonor.errors %}
                                            <span>{{error}}</span>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                            {{form.jlh_ghonor(class="form-control")}}
                                        {% endif %}
                                    </div>
                                    <div class="form-group"> 
                                        {{form.jlh_kepsek.label(class="form-control-label")}}
                                        {% if form.jlh_kepsek.errors %}
                                            {{form.jlh_kepsek(class="form-control is-invalid")}}
                                
                                        <div class="invalid-feedback">
                                            {% for error in form.jlh_kepsek.errors %}
                                            <span>{{error}}</span>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                            {{form.jlh_kepsek(class="form-control")}}
                                        {% endif %}
                                    </div>
                                    <div class="form-group"> 
                                        {{form.jlh_kpns.label(class="form-control-label")}}
                                        {% if form.jlh_kpns.errors %}
                                            {{form.jlh_kpns(class="form-control is-invalid")}}
                                
                                        <div class="invalid-feedback">
                                            {% for error in form.jlh_kpns.errors %}
                                            <span>{{error}}</span>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                            {{form.jlh_kpns(class="form-control")}}
                                        {% endif %}
                                    </div>
                                    <div class="form-group"> 
                                        {{form.jlh_khonor.label(class="form-control-label")}}
                                        {% if form.jlh_khonor.errors %}
                                            {{form.jlh_khonor(class="form-control is-invalid")}}
                                
                                        <div class="invalid-feedback">
                                            {% for error in form.jlh_khonor.errors %}
                                            <span>{{error}}</span>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                            {{form.jlh_khonor(class="form-control")}}
                                        {% endif %}
                                    </div>
                                    <div class="form-group"> 
                                        {{form.jlh_rombel.label(class="form-control-label")}}
                                        {% if form.jlh_rombel.errors %}
                                            {{form.jlh_rombel(class="form-control is-invalid")}}
                                
                                        <div class="invalid-feedback">
                                            {% for error in form.jlh_rombel.errors %}
                                            <span>{{error}}</span>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                            {{form.jlh_rombel(class="form-control")}}
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        {{form.submit(class="btn btn-primary")}}
                                    </div>
                                </form>
                                    </div>
                                </div>
                            </div>
    
                            <!-- Input Kategori -->
                            <div class="col-xl-8 col-lg-7">
                                <div class="card shadow mb-4">
                                    <!-- Card Header - Dropdown -->
                                    <div
                                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                        <h6 class="m-0 font-weight-bold text-primary">Data Umum</h6>
                                        
                                    </div>
                                    <!-- Card Body -->
                                    <div class="card-body">
                                        <div class="card-body">
                                            <form action="" method="POST" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search pb-4">
                                                {{form.hidden_tag()}}
                                                <div class="input-group">
                                                  <input type="text" class="form-control bg-light border-0 small" placeholder="Cari Untuk..."
                                                      aria-label="Cari" aria-describedby="basic-addon2" name="tag" id="tag">
                                                  <div class="input-group-append">
                                                    <input class="btn btn-primary" type="submit" value="Cari">
                                                  </div>
                                                </div>
                                              </form>
                                              <strong style="padding-left: 20px;">Cari Untuk : {{ tag }}</strong>
                                            <div class="table-responsive">
                                                <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                                                    <thead>
                                                        <tr align="center">
                                                            <th rowspan="2">Tahun</th>
                                                            <th rowspan="2">sekolah</th>
                                                            <th colspan="2">sekolah</th>
                                                            <th rowspan="2">Guru</th>
                                                            <th colspan="2">Guru</th>
                                                            <th colspan="3">Keterangan</th>
                                                        </tr>
                                                        <tr align="center">
                                                            <th>Swasta</th>
                                                            <th>Negeri</th>
                                                            <th>PNS</th>
                                                            <th>NON PNS</th>
                                                            <th>Edit</th>
                                                            <th>detail</th>
                                                            <th>Hapus</th>
    

                                                        </tr>
                                                    </thead>

                                                    <tbody>
                                                        {% for du in dataumum.items %}
                                                        <tr>
                                                            <td>{{du.tahun}}</td>
                                                            <td>{{du.jsekolah}}</td>
                                                            <td>{{du.jsswasta}}</td>
                                                            <td>{{du.jssnegeri}}</td>
                                                            <td>{{du.jguru}}</td>
                                                            <td>{{du.jgpns}}</td>
                                                            <td>{{du.jghonor}}</td>
                                                            <td> <a class="btn btn-sm btn-danger" href="{{url_for('gadmin.dataumum_edit', ed_id=du.id)}}">edit</a></td>
                                                            <td> <a class="btn btn-sm btn-danger" href="{{url_for('gadmin.detail_dataumum', ed_id=du.id)}}">detail</a></td>
                                                            <td><a class="btn btn-sm btn-danger" href="/dataumuum/{{du.id}}">Hapus</a></td>

                                                            
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                    </table>
                                    </div>
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination">
                                          {% if dataumum.has_prev %}
                                            <li class="page-item"><a class="page-link" href="{{ url_for('gadmin.dataumuum', page=dataumuum.prev_num)}}">Previous</a></li>
                                          {% else %}
                                            <li class="page-item disabled"><a class="page-link">Previous</a>
                                          {% endif %}
                                            </li>
                        
                                          {% for page in dataumum.iter_pages(left_edge=3, right_edge=3) %}
                                          {% if page %}
                                              {% if page==dataumum.page %}
                                              <li class="page-item active"><a class="page-link" href="{{ url_for('gadmin.dataumuum', page=page)}}">{{ page }}</a></li>
                                              {% else %}
                                              <li class="page-item"><a class="page-link" href="{{ url_for('gadmin.dataumuum', page=page)}}">{{ page }}</a></li>
                                              {% endif %}
                                          {% else %}
                                          <li class="page-item disabled" id="example_ellipsis"><a class="page-link" href="#">...</a></li>
                                          {% endif %}
                                          {% endfor %}
                        
                                          {% if dataumum.has_next %}
                                          <li class="page-item"><a class="page-link" href="{{ url_for('gadmin.dataumuum', page=dataumuum.next_num)}}">Next</a></li>
                                          {% else %}
                                          <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                                          {% endif %}
                                        </ul>
                                      </nav>
                                </div>
                            </div>
                        </div>
    
    </div></div>      
    
    </div>
                    <!-- /.container-fluid -->
{% endblock%}
    