{% extends "t_admin/base.html" %}

{% block konten%}
<div class="container-fluid">
    
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Edit Program Kerja</h1>
        <!--bagian bisa dimasukan form seacrh dari masing-masing data-->
        <p></p>
    </div>

    <!-- Content Row -->

    <div class="row">

        <!-- Data Kategori -->
        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Program Kerja</h6>
                   
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <!--form inputan-->
                   <form method="POST" enctype="multipart/form-data" >
                    {{form.hidden_tag()}}
                    <div class="form-group">
                        {{form.judul.label(class="form-control-label")}}
                        {% if form.judul.errors %}
                             {{form.judul(class="form-control is-invalid")}}
                    
                             <div class="invalid-feedback">
                                 {%for error in form.judul.errors %}
                                 <span>{{error}}</span>
                                 {% endfor %}
                             </div>
                        {%else%}
                            {{form.judul(class="form-control")}}
                        
                        {%endif%}
                    </div>
                <div class="form-group">
                    {{form.informasi.label(class="form-control-label")}}
                    {% if form.informasi.errors %}
                         {{form.informasi(class="form-control is-invalid")}}
                
                         <div class="invalid-feedback">
                             {%for error in form.informasi.errors %}
                             <span>{{error}}</span>
                             {% endfor %}
                         </div>
                    {%else%}
                        {{form.informasi(class="form-control")}}
                    
                    {%endif%}
                </div>

                <div class="form-group">
                    {{form.submit(class="btn btn-primary")}}
                </div>

                </div>
            </div>
        </div>

        {% endblock%}
    