{% extends "t_admin/base.html" %}

{% block konten%}
    
    <!-- Begin Page Content -->
    <div class="container-fluid">
    
                   
    
                        <!-- Content Row -->
                    
                        <div class="row">
    
                            <!-- Data Kategori -->
                            <div class="col-xl-6 col-lg-5">
                                <div class="card shadow mb-4">
                                    <!-- Card Header - Dropdown -->
                                    <div
                                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                        <h6 class="m-0 font-weight-bold text-primary">Data Profil Admin</h6>
                                       
                                    </div>
                                    <!-- Card Body -->
                                </div>
                            </div>
    
                            <!-- Input Kategori -->
                            <div class="col-xl-8 col-lg-7">
                                <div class="card shadow mb-4">
                                    <!-- Card Header - Dropdown -->
                                    <div
                                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                        <h6 class="m-0 font-weight-bold text-primary">Data Profil</h6>
                                        
                                    </div>
                                    <!-- Card Body -->
                                    <div class="card-body">
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table>
                                                    <table class="table table-hover">
                                                        <tbody>
                                                    
                                                            
                                                        <tr>
                                                            <th>User Name:</th><td>{{current_user.nama}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Email:</th><td>{{current_user.email}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Foto:</th>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <img src="{{url_for('static', filename='foto/' +current_user.foto)}}" alt="..." width="300px">
                                                               </td>
                                                        </tr>
                                                        <tr>
                                                            <td><a class="btn btn-warning" href="{{url_for('gadmin.dashboard')}}">Kembali</a> <a class="btn btn-danger" href="{{url_for('gadmin.editadmin')}}">Edit</a></td>
                                                        </tr>
                                                    </table>
                                                  </div>
                                                  
                                                
                                                </table>
                                               
                                               
                                    </div>
                                </div>
                            </div>
                        </div>
    
    </div></div>      
    
    </div>
                    <!-- /.container-fluid -->
{% endblock%}
    