{% extends "t_admin/base.html" %}

{% block konten%}
    
    <!-- Begin Page Content -->
    <div class="container-fluid">
    
                        <!-- Page Heading -->
                        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                            <h1 class="h3 mb-0 text-gray-800">Sambutan</h1>
                            <!--bagian bisa dimasukan form seacrh dari masing-masing data-->
                            <p></p>
                        </div>
    
                        <!-- Content Row -->
                    
                        <div class="row">
    
                            <!-- Data Kategori -->
                            <div class="col-xl-4 col-lg-5">
                                <div class="card shadow mb-4">
                                    <!-- Card Header - Dropdown -->
                                    <div
                                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                        <h6 class="m-0 font-weight-bold text-primary">Input Sambutan</h6>
                                       
                                    </div>
                                    <!-- Card Body -->
                                    <div class="card-body">
                                        <!--form inputan-->
                                       <form method="POST">
                                        {{form.hidden_tag()}}

                                    <div class="form-group">
                                        {{form.profil.label(class="form-control-label")}}
                                        {% if form.profil.errors %}
                                             {{form.profil(class="form-control is-invalid")}}
                                    
                                             <div class="invalid-feedback">
                                                 {%for error in form.profil.errors %}
                                                 <span>{{error}}</span>
                                                 {% endfor %}
                                             </div>
                                        {%else%}
                                            {{form.profil(class="form-control")}}
                                        
                                        {%endif%}
                                    </div>
                                    <div class="form-group">
                                        {{form.submit(class="btn btn-primary")}}
                                    </div>

                                    </div>
                                </div>
                            </div>
    
                            <!-- Input Kategori -->
                            <div class="col-xl-8 col-lg-7">
                                <div class="card shadow mb-4">
                                    <!-- Card Header - Dropdown -->
                                    <div
                                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                        <h6 class="m-0 font-weight-bold text-primary">Data Sambutan</h6>
                                        
                                    </div>
                                    <!-- Card Body -->
                                    <div class="card-body">
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                                                    <thead>
                                                        <tr align="center">
                                                            <th rowspan="2">Sambutan</th>
                                                            <th colspan="2">Keterangan</th>
                                                        </tr>
                                                        <tr align="center">
                                                            <th>Edit</th>
                                                            <th>Detail</th>
                                                        </tr>
                                                    </thead>
                                                    <tfoot>
                                                        <tr>
                                                            <th>sambutan</th>
                                                            <th>editt</th>
                                                            <th>detail</th>
                                                        </tr>
                                                    </tfoot>
                                                    <tbody>
                                                        {% for dk in datakategori %}
                                                        <tr>
                                                            <td>{{dk.kategori}}</td>
                                                            <td>{{dk.ket}}</td>
                                                            <td><a class="btn btn-sm btn-warning" href="">Edit</a>  <a class="btn btn-sm btn-danger" href="">Hapus</a></td>
                                                            
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                    </table>
                                    </div>
                                </div>
                            </div>
                        </div>
    
    </div></div>      
    
    </div>
                    <!-- /.container-fluid -->
{% endblock%}
    