{% extends "t_user2/base.html" %}

{% block konten%}
<section id="about">

  <div class="container">
    
    <!-- section title -->
    <h2 class="section-title wow fadeInUp">Berita</h2>

    <div class="spacer" data-height="60"></div>
    
    <div class="row">
      <div class="col-md-9 triangle-left-md triangle-top-sm">
        <div class="rounded bg-white shadow-dark padding-50">
          <div class="row">
            <div class="col-md-6">
              <div class="card mb-3">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="{{url_for('static', filename='foto/' +data.foto)}}" alt="..." height="100%">
                  </div>
                  <div class="col-md-10">
                    <div class="card-body">
                      <h5 class="card-title"><b>{{data.judul}}</b></h5>
                      <p class="card-text"><small class="text-muted">{{data.tgl_post}}</small></p>
                      <p class="card-text">{{data.berita}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- about text -->
              <div class="spacer d-md-none d-lg-none" data-height="30"></div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- row end -->

    <div class="spacer" data-height="70"></div>
    <a class="btn btn-warning" href="{{url_for('guser.berita')}}">Kembali</a>
    

  </div>
  
</section>
  {% endblock%}