{% extends "t_user2/base.html" %}

{% block konten%}
<section id="works">

    <div class="container">
        
        <!-- section title -->
        <h2 class="section-title wow fadeInUp">Data informasi</h2>

        <div class="spacer" data-height="60"></div>

        <div class="container">
                
            
            <div class="card-body">
                <div class="card-body">
                    <div class="table-responsive">
                        <table>
                            <table class="table table-hover">
                                <tr>
                                    <th>Tanggal :</th><td>{{datainformasi.tgl_post}}</td>
                                </tr>
                                <tr>
                                    <th>Judul:</th><td>{{datainformasi.judul}}</td>
                                </tr>
                                <tr>
                                    <th>Deskripsi:</th>
                                </tr>
                                <tr>
                                    <td>{{datainformasi.informasi}}</td>
                                </tr>
                               
                            </table>
                          </div>
                          <a class="btn btn-warning" href="{{url_for('guser.home')}}">Kembali</a>
                        </table>
                       
            </div>
        </div>
            <!-- row end -->

            <div class="spacer" data-height="70"></div>
        
        </div>
  

    </div>

</section>
{% endblock%}