{% extends "t_user2/base.html" %}

{% block konten%}
<div class="team" id="team">
    <div class="container">
        <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
            <p>My Team</p>
            <h2>Struktur Organisasi</h2>
        </div>
        <div class="row">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.0s">
                <div class="team-item">
                    <div class="team-img">
                        <img src="{{ url_for ('static', filename="tuser2/img/walikota.jpg")}}" alt="Image">
                    </div>
                    <div class="team-text">
                        <h2>Capt. H. Ali Ibrahim</h2>
                        <h4>Walikota Tidore</h4>
                        <p>
                            Lorem ipsum dolor sit amet consec adipis elit. Etiam accum lacus
                        </p>
                        <div class="team-social">
                            <a class="btn" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn" href=""><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.2s">
                <div class="team-item">
                    <div class="team-img">
                        <img src="{{ url_for ('static', filename="tuser2/img/kadis.jpg")}}" alt="Image">
                    </div>
                    <div class="team-text">
                        <h2>Ismial Dukomolamo, S.Pd, MM</h2>
                        <h4>Kepala Dinas Pendidikan</h4>
                        <p>
                            Lorem ipsum dolor sit amet consec adipis elit. Etiam accum lacus
                        </p>
                        <div class="team-social">
                            <a class="btn" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn" href=""><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.4s">
                <div class="team-item">
                    <div class="team-img">
                        <img src="{{ url_for ('static', filename="tuser2/img/paud2.png")}}" alt="Image">
                    </div>
                    <div class="team-text">
                        <h2>Ade Akib</h2>
                        <h4>Sekretaris Dinas Pendidikan</h4>
                        <p>
                            Lorem ipsum dolor sit amet consec adipis elit. Etiam accum lacus
                        </p>
                        <div class="team-social">
                            <a class="btn" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn" href=""><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.6s">
                <div class="team-item">
                    <div class="team-img">
                        <img src="{{ url_for ('static', filename="tuser2/img/paud2.png")}}" alt="Image">
                    </div>
                    <div class="team-text">
                        <h2>Jahra Mandar, S.Pd</h2>
                        <h4>Kepala bidang PAUD</h4>
                        <p>
                            Lorem ipsum dolor sit amet consec adipis elit. Etiam accum lacus
                        </p>
                        <div class="team-social">
                            <a class="btn" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn" href=""><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}